<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="welcome-row-padding">
<div class="row">
    <h1 class="welcome"> Round 1: Information Round </h1>
</div>
</div>
<div class="cards-container">
<div class="row">
    <div class="col-md-3">
        <div class="card1"> 
        <div class="card-inner">
            <div class="front"> <h2> Early Childhood </h2> </div>
            <div class="back"> <p> Add activities and programs for young children ages 0-5, helping Saint Paul children have the best start possible
 </p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1"> 
        <div class="card-inner">
            <div class="front"> <h2> Library & Recreation Centers </h2> </div>
            <div class="back"> <p> Make it easier for students, families, seniors, and job seekers to have access to books, internet, and help with learning
</p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1"> 
        <div class="card-inner">
            <div class="front"> <h2> Housing Options </h2> </div>
            <div class="back"> <p> More homes for low income and unsheltered populations, creating new neighborhoods in Saint Paul
 </p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1">
        <div class="card-inner"> 
            <div class="front"> <h2> Community Mental Health Resources </h2> </div>
            <div class="back"> <p> Partner with community providers to respond to our neighbors in crisis
 </p> </div>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card1"> 
        <div class="card-inner"> 
            <div class="front"> <h2> Career Programs </h2> </div>
            <div class="back"> <p> Help Saint Paul residents move into new jobs and careers
 </p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1"> 
         <div class="card-inner"> 
            <div class="front"><h2> Small Business Supports </h2> </div>
            <div class="back"> <p> Expand small business startup and expansion loans and grants, helping to build a successful and diverse business community
 </p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1"> 
         <div class="card-inner"> 
            <div class="front"> <h2> Bikeways & Walkways </h2> </div>
            <div class="back"> <p> Add protected bikeways to make Saint Paul’s streets more bike and pedestrian friendly 
 </p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1"> 
         <div class="card-inner"> 
            <div class="front"> <h2> Green Investments </h2> </div>
            <div class="back"> <p> Upgrade older buildings and replace vehicles with electric models to reduce pollution and maintenance costs
 </p> </div>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card1"> 
         <div class="card-inner"> 
            <div class="front"> <h2> Infested Tree Removal </h2> </div>
            <div class="back"> <p> Remove infested trees, which are a safety hazard to people and property
 </p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1"> 
         <div class="card-inner"> 
            <div class="front"> <h2> Street Maintenance </h2> </div>
            <div class="back"> <p> Increase funding for street maintenance (includes snow removal, fixing potholes, improved lighting and bike/ pedestrian features)
 </p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1"> 
         <div class="card-inner"> 
            <div class="front"> <h2> Emergency Response </h2> </div>
            <div class="back"> <p> Increase responsiveness for fire, police, and medical calls 
 </p> </div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card1">
         <div class="card-inner"> 
            <div class="front"> <h2> Resident Services </h2> </div>
            <div class="back"> <p> Make is easier to work with the City for licensing and permits requests and bill payments
             </p> </div>
        </div>
        </div>
    </div>
</div>
</div>
